* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
}
.container {
  display: grid;
  text-align: center;
  height: 100vh;
  grid-template:
    "header header header header" 50px
    "sidebar sidebar menu messageboard" 1fr /
    1fr 4fr 1fr 15px;
}

.header {
  grid-area: header;
  background-color: paleturquoise;
}

.settings {
  grid-area: settings;
  background-color: palegreen;
}

.menu {
  grid-area: menu;
  background-color: palevioletred;
}

.messageboard {
  grid-area: messageboard;
  background-color: palegoldenrod;
}
